.center{
  margin-top: 20px;
}

.container{
  max-width: 400px;
  margin: 0 auto;  
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.container h2{
  margin-bottom: 8px;
}

.todo-list{
  padding: 0;
  margin-top: 30px;

}

.todo-list li{  
  margin-bottom: 10px;  
}

.todo-list li input[type='checkbox']{
  margin-right: 10px;
}

.completed{
  text-decoration: line-through;
  color: gray;
}

button{
  margin-left: 8px;
}

.table-list{
  width: 60%;
  margin: 0 auto;  
  border-collapse: collapse;
}

.table-list th, .table-list td{
  border: 1px solid #ddd;
  padding: 8px;
}

.table-list thead{
  background-color: #eee;
}
